services:
  postgres:
    image: postgres:13.10
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data
    networks:
      - kittygram_network

  backend:
    image: timnekk/kittygram_backend:latest
    env_file: .env
    volumes:
      - static:/app/collected_static
      - media:/app/media
    depends_on:
      - postgres
    networks:
      - kittygram_network

  frontend:
    image: timnekk/kittygram_frontend:latest
    networks:
      - kittygram_network

  gateway:
    image: timnekk/kittygram_gateway:latest
    ports:
      - "80:80"
    volumes:
      - ./static:/static
      - ./media:/media
    depends_on:
      - backend
      - frontend
    networks:
      - kittygram_network

volumes:
  pg_data:
  static:
  media:

networks:
  kittygram_network:
    driver: bridge